body {
  margin: 0;
  padding: 0;
  background-color:#eee;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 90%;
  max-width: 700px;
  height: 100%;
  padding: 20px 15px;
  border-radius: 20px;
  height: 470px;
  margin: 50px auto 0px;

}

nav{
  display: flex;
  flex-direction: column;
}
nav h2{
  text-align: center;
  font-size: 28px;
}
.search-engine {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
}

.search-engine input {
  width: 90%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
  color: #555555;
  
}

.search-engine button {
  border: 1px solid #0c0c0c;
  border-right: none;
  border-radius: 8px;
  background: transparent;
  height: 100%;
  color: #0c0c0c;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 30px 12px 30px;
  text-align: center;
  position: absolute;
  right: 20px;
}
@media (max-width: 795px) {
  .search-engine button{
    position: static;
    width: 100%;
    display: block;
    border: 1px solid #0c0c0c;
    margin-top: 12px;
  }
}
.search-engine button:hover{
  background-color: #0c0c0c;
  color: #fff;
}


.loading {
  font-size: 60px;
  font-weight: bolder;
  color: #000;
}
.weather-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.date {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.temp {
  font-size: 64px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.description{
  color: #000000;
  font-size: 22px;
  font-weight: 500;

  margin: 0;
}

.weather-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
  gap: 12px;
}
.humidity,.wind{
  margin-top: 30px;
}
.column{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  border: 1px solid #00000073;
  padding: 30px 35px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  width: 95px;
  
}
.column p:first-child{
  position: absolute;
  left: 5px;
  top: 5px;
}
.toggle-unit-btn{
  width: 100%;
  border-radius: 8px;
  padding: 8px 6px;
  margin: 12px;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  transition: .3s  ease-in-out ;
  font-weight: bold;
  background-color: #ddd;
}
.toggle-unit-btn:hover{
  background-color:#c0b6b6;
}